h1 {
  color: #1EAEDB;
}
@media (min-width: 750px) {
  .panel {
    width: 50%;
    background-color: white;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 50%;
  }
  
  .panel_left {
    transform: translate(-100%);
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
  }
  
  .panel_right {
    transform: translate(0);
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
  }
}